<% if @gift_search != nil %>
  <% @gift_search.each do |search_result| %>
    <p><%= search_result["title"] %></p>
    <p><%= link_to "Purchase on Etsy", search_result["url"] %></p>
    <p><img src="<%= search_result["Images"][0]["url_570xN"] %>"></a></p>
  <% end %>
<% end %>
