<h1 class="center-me">Welcome to Giftlistr!</h1>

<h4 class="center-me">Find unique gifts for unique people.</h4>
<br />
<h2 class="center-me"><%= link_to "Search Gifts Now", gifts_path %></h2>

<div class="icon-large center-me"><i class="fa fa-gift"></i></div>

