/* Global Styles */
.container {
  margin: 60px auto
}

#navbar {
  height: 26px;
  padding: 16px;
  color: #FFF;
  background-color: #c0a8d1;
}

#navbar a {
  padding: 10px;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
}

.navbar-left {
  width: 70%;
  float: left;
}

.navbar-right {
  width: 30%;
  float: right;
  text-align: right;
}

.icon-large {
  font-size: 500px;
}

.center-me {
  text-align: center;
}
