<h1>Edit Giftlist</h1>

<%= simple_form_for @giftlist do |f| %>

<%= render partial: 'form', locals: {f: f} %>

<% end %>

<%= link_to "Delete Giftlist", giftlist_path(@giftlist), method: 'delete' %>
